//colors
$lightgray: #E6E6E6;
$charcoal: #1E1E1E;
$link: #006FFF;

//measurements
$sidebarwidth: 207px;

.bold { font-weight: 700; }
.semilight { font-weight: 300;}

@font-face {
    font-family: "Bahnschrift";
    src: url('../fonts/bahnschrift.ttf');
}
.img-shadow {
  -webkit-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.29);
  -moz-box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.29);
  box-shadow: 10px 10px 21px -4px rgba(0,0,0,0.29);
}



html, body {
  margin: 0;
  font-family: "Bahnschrift", bahnschrift, Bahnschrift;

}

a {
  color: $link;
  text-decoration: none;
}

.reddot {
  border: 1px dashed red;
}

.margin-container {
  position: relative;
  width: 800px;
  left: 50%;
  transform: translateX(-50%);
}


//SIDEBAR

.sidebar {
  width: 20%;
  height: 100%;
  background: $lightgray;
  position: fixed;
}

#logo-sidebar  {
  position: relative;
  width: 80px;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

#nav-sidebar {
  margin-top: 70px;
  position: relative;
  text-align: center;
  top: 50px;
  font-size: 18px;
  @extend .bold;
}
.nav-link {
  margin-bottom: 40px;
  cursor: pointer;
  color: $charcoal;
}
#resume-link {
  position: absolute;
  color: $link;
  @extend .bold;
  font-size: 16px;
  text-align: center;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.section {
  position: relative;
  left: 20%;
  background: $charcoal;
  width: 80%;
  height: 100vh;
}
.cs-section {
  position: relative;
  left: 20%;
  background: $charcoal;
  width: 80%;
  height: auto;
}

.nav-indicator {
  width: 5px;
  height: 30px;
  background: $charcoal;
  position: relative;
  float: right;
  top: 75px;
}
.nav-indicator-workfixed {
  width: 5px;
  height: 30px;
  background: $charcoal;
  position: relative;
  float: right;
  top: 200px;
}


.text-link {
  color: $link;
}

//HERO SECTION
.hero-content {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
}
 #logo-hero {
   position: relative;
   width: 280px;
   left: 50%;
   transform: translateX(-50%);
 }
 #name-hero {
   position: relative;
   color: white;
   font-size: 70px;
   @extend .bold;
   text-align: center;
   margin-top: 30px;
 }
 #subtitle-hero {
   position: relative;
   color: white;
   font-size: 20px;
   @extend .bold;
   text-align: center;
 }


//WORK SECTION
#section-work {
  background: white;
}

.proj {
  height: 450px;
  background-size: contain;
  overflow: hidden;
}

.rel-container {
  position: relative;
  width: 100%;
  height: 450px;
  border: 1px solid rgba(0,0,0,0);
}

.proj-txt {
  position: relative;
  margin: 70px 0 0 70px;
  width: 50%;
}

.proj-title {
  font-size: 60px;
  @extend .bold;
  letter-spacing: 3px;
}

.proj-desc {
  font-size: 15px;
  line-height: 25px;
  width: 60%;
  margin-left:3px;
}

.proj-cta {
  display: inline-block;
  position: absolute;
  background-color: $link;
  color: white;
  margin-left: 70px;
  bottom: 70px;
  padding: 13px 20px 12px 20px;;
  border-radius: 25px;
  font-size: 13px;
  letter-spacing: 3px;
  transition: all .3s;
}

.proj-cta:hover {
  transform: translateY(-5px);
  transition: all .3s;
}

#y3di-banner-img {
  position: absolute;
  right:0;
  bottom:0;
  width: 75%;
  max-width: 900px;
}

#dfam-banner-img {
  position: absolute;
  right:60px;
  top:50%;
  transform: translateY(-50%);
  width: 50%;
  max-width: 650px;
}

#uicol-banner-img {
  position: absolute;
  right:55px;
  top:53%;
  transform: translateY(-50%);
  width: 50%;
  max-width: 650px;
}

.twocol-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 10px;
}


//ABOUT SECTION
.about-grid {
  position: relative;
  top: 37vh;
  display: grid;
  grid-template-columns: 200px auto
}

#img-me {
  position: relative;
  width: 160px;
}

#greeting-about {
  position: relative;
  color: white;
  font-size: 60px;
  @extend .bold;
  top: 0;
}

#description-about {
  color: white;
  left: 5px;
  position: relative;
  font-size: 16px;
  line-height: 40px;
  @extend .semilight;
}

#current-status {
  color: gray;
}



//CONTACT SECTION
#section-contact {
  background: #0D0D0D;
}

.contact-content {
  position: relative;
  top: 23vh;
}

#letstalk {
  color: gray;
  font-size: 16px;
  @extend .bold;
  letter-spacing: 10px;
  margin-bottom: 20px;
}

.email {
  color: white;
  font-size: 60px;
  @extend .bold;
  cursor: pointer;
}

#cta-contact {
  margin-top: 20px;
  color: white;
  font-size: 16px;
  line-height: 40px;
  @extend .semilight;
  width: 80%;
  max-width: 430px;
}

#contact-seeresume {
  @extend .bold;
  color: $link;
  font-size: 16px;
  opacity: 0;
}

.social {
  width: 40px;
  display: inline-block;
  margin: 150px 15px 0 0;
  position: relative;
  transition: all .3s
}

.social:hover {
  transform: translateY(-5px);
  transition: all .3s
}

.copyclipboard {
    position: relative;
    font-size: 16px;
    opacity: 0;
    color: gray;
    pointer-events:none;
    top: 10px;
    @extend .bold;

}

//CASE STUDIES
.cs-title {
  text-align: center;
  font-size: 72px;
  @extend .bold;
  letter-spacing: 8px;
}
.cs-subtitle {
  text-align: center;
  font-size: 35px;
  @extend .bold;
}
.cs-casestudy {
  text-align: center;
  font-size: 16px;
  letter-spacing: 15px;
  @extend .bold;
  margin-top: 40px;
}
.cs-cat-title {
  font-size: 14px;
  letter-spacing: 3px;
  @extend .bold;
}
.cs-sect-title {
  position: relative;
  font-size: 35px;
  @extend .bold;
  line-height: 50px;
  margin-top: 7px;
  left: -2px;
}
.cs-mini-title {
  position: relative;
  font-size: 20px;
  @extend .bold;
  margin-top: 7px;
  left: -1px;
}
.cs-body-txt {
  margin-top: 20px;
  font-size: 15px;
  line-height: 30px;
  width: 95%;
}
.cs-margin-container {
  position: relative;
  width: 75%;
  left: 50%;
  transform: translateX(-50%);
  padding: 80px 0 80px 0;
}
.cs-full-img {
  width: 100%;
  margin: 20px 0;
}
.cs-center-img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}



//MEDIA QUERIES

// MD1
@media (max-width: 1360px){
  #uicol-banner-img {
    width: 42%;
    right: 30px;
  }
  #dfam-banner-img {
    width: 42%;
    right: 50px;
  }
}

//MD2
@media (max-width: 1080px){
  #nav-sidebar {
    font-size: 14px;
  }
  #logo-sidebar {
    width: 60px;
  }
  .nav-indicator {
    display: none;
  }
  .nav-indicator-workfixed {
    display: none;
  }
  #resume-link {
    font-size: 12px;
  }
  .proj {
    height: 750px;
  }
  .rel-container {
    height: 750px;
  }
  .proj-txt {
    width: 70%;
  }
  .proj-desc {
    width: 100%;
    margin-top: 10px;
  }

  .proj-cta {
    position: relative;
    margin: 100px 0 10px 70px;
  }
  #uicol-banner-img {
    max-width: 600px;
    width: 80%;
    right: auto;
    left: 70px;
    top: 550px;
  }
  #dfam-banner-img {
    max-width: 600px;
    width: 80%;
    right: auto;
    left: 60px;
    top: 530px;
  }
  #y3di-banner-img {
    width: 100%;
  }
  .margin-container {
    width: 600px;
  }
  .about-grid {
    top: 30vh;
  }
  #img-me {
    width: 140px;
  }
  #description-about {
    font-size: 14px;
  }
  #cta-contact {
    font-size: 14px;
  }
  #letstalk {
    font-size: 14px;
  }
  .email {
    font-size: 50px;
  }
}


//MD3
@media (max-width: 1000px){
  .btn-expand {
    width: 35px;
    left: 48.5%;
  }
}

//MD4
@media (max-width: 820px){
  .sidebar {
    display: none;
  }
  .section {
    left: 0;
    width: 100%;
  }
  .cs-section {
    left: 0;
    width: 100%;
  }

  #contact-seeresume {
    margin-top: 40px;
    opacity: 1;
  }
  .social {
    margin: 130px 15px 0 0;
  }
}

//MD5
@media (max-width: 700px){
  .margin-container {
    width: 500px;
  }
  .email {
    font-size: 40px;
  }
}

//MD6
@media (max-width: 670px){
  #name-hero {
    font-size: 50px;
  }
  #logo-hero {
    width: 200px;
  }
  .margin-container {
    width: 450px;
  }
  .about-grid {
    top: 23vh;
  }
  .twocol-grid {
    grid-template-columns: 1fr;
  }
  .y3di-graphics {
    left: 50%;
    transform: translateX(-50%);
  }
  #y3di-about-logo {
    margin-top: 40px;
  }
  .col2 {
    margin-top: 40px;
  }
}

//MD7
@media (max-width: 560px){
  .proj {
    height: 650px;
  }
  .rel-container {
    height: 650px;
  }
  .proj-txt {
    margin-left: 50px;
  }
  .proj-title {
    font-size: 10vw;
  }
  .proj-cta {
    margin-left: 50px;
  }
  #uicol-banner-img {
    left: 50px;
    top: 500px;
  }
  #dfam-banner-img {
    left: 40px;
    top: 490px;
  }
  #y3di-banner-img {
    width: 100%;
  }
  .margin-container {
    width: 70%;
  }
  #img-me {
    width: 70px;
  }
  .about-grid {
    grid-template-columns: 100px auto
  }
  .email {
    font-size: 25px;
  }

}
